{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">Edit Complaint #{{ c.id }}</h2>
<form method="post" class="row g-3">
  <div class="col-md-3">
    <label class="form-label">Complaint Date</label>
    <input type="date" class="form-control" name="complaint_date" value="{{ c.complaint_date }}" required>
  </div>
  <div class="col-md-5">
    <label class="form-label">Customer Name</label>
    <input class="form-control" name="customer_name" value="{{ c.customer_name }}" required>
  </div>
  <div class="col-md-4">
    <label class="form-label">Mobile</label>
    <input class="form-control" name="consumer_mobile_number" value="{{ c.consumer_mobile_number or '' }}">
  </div>

  <div class="col-md-4">
    <label class="form-label">OHT Name</label>
    <input class="form-control" name="OHT_name" value="{{ c.OHT_name or '' }}">
  </div>
  <div class="col-md-4">
    <label class="form-label">Issue</label>
    <input class="form-control" name="issue" value="{{ c.issue or '' }}">
  </div>
  <!-- <div class="col-md-4">
      <label class="form-label">Status</label>
      <input class="form-control" name="status" value="{{ c.status or '' }}">
    </div> -->
  <div class="col-md-4"> <label class="form-label">Status</label> <select class="form-select" name="status" required>
      <option value="Open" {% if (c.status or '' )=='Open' %}selected{% endif %}>Open</option>
      <option value="Working" {% if (c.status or '' )=='Working' %}selected{% endif %}>Working</option>
      <option value="Close" {% if (c.status or '' )=='Close' %}selected{% endif %}>Close</option>
    </select> </div>
  <div class="col-md-12">
    <label class="form-label">Address</label>
    <input class="form-control" name="Address" value="{{ c.Address or '' }}">
  </div>

  <div class="col-md-6">
    <label class="form-label">Longitude</label>
    <input class="form-control" name="longitude" type="number" step="any"
      value="{{ c.longitude if c.longitude is not none else '' }}">
  </div>
  <div class="col-md-6">
    <label class="form-label">Latitude</label>
    <input class="form-control" name="latitude" type="number" step="any"
      value="{{ c.latitude if c.latitude is not none else '' }}">
  </div>

  <div class="col-md-12">
    <label class="form-label">Complaint Details</label>
    <textarea class="form-control" name="complaint_details" rows="3">{{ c.complaint_details }}</textarea>
  </div>

  <div class="col-12">
    <button class="btn btn-primary">Update</button>
    <a class="btn btn-secondary" href="{{ url_for('complaints') }}">Cancel</a>
  </div>
</form>
{% endblock %}