{% extends "base.html" %}
{% block content %}
  <h1 class="mb-4">Welcome</h1>
  <p class="lead">Use the navigation to manage Complaints, TeamWork, and Materials.</p>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="{{ url_for('complaints') }}">View Complaints</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('teamwork') }}">View TeamWork</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('materials') }}">View Materials</a>
    <!-- <a class="list-group-item list-group-item-action" href="{{ url_for('import_complaints') }}">Import Complaints (Excel/CSV)</a> -->
  </div>
{% endblock %}
